<% String.prototype.replaceAll = function(str1, str2, ignore) { %>
<%     return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),(ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2); %>
<% } %>

<% function getBaseId(title) { %>
<%    return title.toLocaleLowerCase().replaceAll(" ", "-").replaceAll("’", ""); %>
<% } %>

<% function makeRadioGroup(data) { %>
    <h6 class="dropdown-header"><%= data.title %></h6>
    <div class="ms-3" id="<%= data.name %>">
        <% data.radios.forEach(function(radio) { %>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input"
                       name="<%= data.name %>" id="<%= data.name %>-<%= radio.id %>" value="<%= radio.id %>">
                <label class="form-check-label" for="<%= data.name %>-<%= radio.id %>"><%= radio.title %></label>
            </div>
        <% }) %>
    </div>
<% } %>

<% function makeSelects(data) { %>
    <% data.forEach(function(select) { %>
        <% const id = getBaseId(select.title) %>
        <li class="nav-item pe-2">
            <label><select name="port-select-<%= id %>" id="port-select-<%= id %>" class="selectpicker"
                           data-dropup-auto="false" data-live-search="true" data-live-search-normalize="true"
                           data-live-search-placeholder="Search ..." data-virtual-scroll="true"
                           title="<%= select.title %>"></select></label>
        </li>
    <% }) %>
<% } %>


<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>" itemscope itemtype="http://schema.org/Map">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <% if(htmlWebpackPlugin.options.canonicalUrl){ %>
        <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonicalUrl %>">
    <% } else{ %>
        <meta name="robots" content="noindex">
    <% } %>
    <meta itemprop="name" property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta itemprop="description" property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta itemprop="image" property="og:image" content="<%= htmlWebpackPlugin.options.iconLarge %>">
    <meta itemprop="url" property="og:url" content="<%= htmlWebpackPlugin.options.canonicalUrl %>">

    <meta property="og:locale" content="<%= htmlWebpackPlugin.options.lang.toLowerCase().replace("-", "_") %>">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">

    <script async src="https://www.google-analytics.com/analytics.js"></script>
</head>

<body>

<% /*          %>
<div class="row">
    <div class="col-sm-3 colour-palette">
        <div class="colour-slab colour-slab-base primary-500">500 primary</div>
        <div class="colour-slab primary-050">50</div>
        <div class="colour-slab primary-100">100</div>
        <div class="colour-slab primary-200">200</div>
        <div class="colour-slab primary-300">300</div>
        <div class="colour-slab primary-400">400</div>
        <div class="colour-slab primary-500">500</div>
        <div class="colour-slab primary-600">600</div>
        <div class="colour-slab primary-700">700</div>
        <div class="colour-slab primary-800">800</div>
        <div class="colour-slab primary-900">900</div>
    </div>

    <div class="col-sm-3 colour-palette">
        <div class="colour-slab colour-slab-base secondary-500">500 secondary</div>
        <div class="colour-slab secondary-050">50</div>
        <div class="colour-slab secondary-100">100</div>
        <div class="colour-slab secondary-200">200</div>
        <div class="colour-slab secondary-300">300</div>
        <div class="colour-slab secondary-400">400</div>
        <div class="colour-slab secondary-500">500</div>
        <div class="colour-slab secondary-600">600</div>
        <div class="colour-slab secondary-700">700</div>
        <div class="colour-slab secondary-800">800</div>
        <div class="colour-slab secondary-900">900</div>
    </div>

    <div class="col-sm-3 colour-palette">
        <div class="colour-slab colour-slab-base gray-500">500 gray</div>
        <div class="colour-slab white">white</div>
        <div class="colour-slab gray-100">100</div>
        <div class="colour-slab gray-200">200</div>
        <div class="colour-slab gray-300">300</div>
        <div class="colour-slab gray-400">400</div>
        <div class="colour-slab gray-500">500</div>
        <div class="colour-slab gray-600">600</div>
        <div class="colour-slab gray-700">700</div>
        <div class="colour-slab gray-800">800</div>
        <div class="colour-slab gray-900">900</div>
        <div class="colour-slab black">black</div>
    </div>

    <div class="col-sm-3 colour-palette">
        <div class="colour-slab colour-slab-base blue-500">500 blue</div>
        <div class="colour-slab blue-100">100</div>
        <div class="colour-slab blue-200">200</div>
        <div class="colour-slab blue-300">300</div>
        <div class="colour-slab blue-400">400</div>
        <div class="colour-slab blue-500">500</div>
        <div class="colour-slab blue-600">600</div>
        <div class="colour-slab blue-700">700</div>
        <div class="colour-slab blue-800">800</div>
        <div class="colour-slab blue-900">900</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base success">success</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base info">info</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base warning">warning</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base danger">danger</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base white">white</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base light">light</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base gray">gray</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base dark">dark</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base gray-dark">gray-dark</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base black">black</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base red-light">red-light</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base red-dark">red-dark</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base green-light">green-light</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base green-dark">green-dark</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base black">black</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base yellow-dark">yellow-dark</div>
    </div>
</div>
<%          */ %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="<%= htmlWebpackPlugin.options.iconSmall %>" width="32" height="32" alt="Brand">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="navbar-left" class="navbar-nav me-auto d-none">

                <li id="selectPortNavbar" class="nav-item dropdown pe-2">
                    <a class="nav-link dropdown-toggle" href="#" id="propertyDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Select ports on
                    </a>
                    <div class="dropdown-menu" id="propertyMenu" aria-labelledby="propertyDropdown">
                        <h6 class="dropdown-header">Port owner</h6>
                        <div class="dropdown-item">
                            <label>
                                <select title="Select nation" name="port-select-select-nation"
                                        id="port-select-select-nation"></select>
                            </label>
                        </div>
                        <div class="dropdown-item">
                            <label>
                                <select title="Select clan" name="port-select-select-clan"
                                        id="port-select-select-clan"></select>
                            </label>
                        </div>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Port property</h6>
                        <a class="dropdown-item" id="menu-prop-deep">Deep water</a>
                        <a class="dropdown-item" id="menu-prop-shallow">Shallow water</a>
                        <a class="dropdown-item" id="menu-prop-all">Available to all</a>
                        <a class="dropdown-item" id="menu-prop-non-capturable">Non-capturable</a>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Port capture time</h6>
                        <a class="dropdown-item" id="menu-prop-today">Today</a>
                        <a class="dropdown-item" id="menu-prop-yesterday">Yesterday</a>
                        <a class="dropdown-item" id="menu-prop-this-week">This week</a>
                        <a class="dropdown-item" id="menu-prop-last-week">Last week</a>
                    </div>
                </li>

                <% let dataSelects = [
                        {title: "Show trade relations"},
                        {title: "Show goods’ relations"}
                ]%>
                <% makeSelects(dataSelects) %>

                <li class="nav-item pe-2">
                    <label><select name="port-select-show-good-availability" id="port-select-show-good-availability" class="d-none"></select></label>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown pe-2">
                    <a class="nav-link dropdown-toggle" href="#" id="map-tools-dropdown"
                       role="button" title="Map tools" aria-label="Map tools"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="icon icon-map icon-navbar" aria-hidden="true"></i><span
                                class="visually-hidden">Map tools</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" id="map-tools-menu"
                         aria-labelledby="map-tools-dropdown">

                        <a class="dropdown-item" id="menu-predict-wind" href="#">Predict wind</a>
                        <a class="dropdown-item" id="menu-in-game-wind" href="#">In-game wind</a>
                        <a class="dropdown-item" id="menu-go-to-f11" href="#">Go to <span class="caps">F11</span>
                            <span
                                    class="small text-end badge badge-pill bg-primary">shift+<span
                                        class="caps">F11</span></span></a>
                        <a class="dropdown-item" id="menu-get-position" href="#">Get position</a>
                        <a class="dropdown-item" id="menu-make-journey" href="#"> Make journey</a>
                    </div>
                </li>

                <li class="nav-item dropdown pe-2">
                    <a class="nav-link dropdown-toggle" href="#" id="game-tools-dropdown"
                       role="button" title="Game tools" aria-label="Game tools"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="icon icon-bar-chart icon-navbar" aria-hidden="true"></i><span
                                class="visually-hidden">Game tools</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" id="game-tools-menu"
                         aria-labelledby="game-tools-dropdown">

                        <h6 class="dropdown-header">Compare</h6>
                        <a class="dropdown-item" id="menu-ship-compare">Ships</a>
                        <a class="dropdown-item" id="menu-wood-compare">Woods</a>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">List</h6>
                        <a class="dropdown-item" id="menu-recipe-list">Admiralty items and recipes</a>
                        <a class="dropdown-item" id="menu-building-list">Buildings</a>
                        <a class="dropdown-item" id="menu-cannon-list">Cannons</a>
                        <a class="dropdown-item" id="menu-loot-list">Loot and chests</a>
                        <a class="dropdown-item" id="menu-module-list">Modules</a>
                        <a class="dropdown-item" id="menu-pb-list">Port battles</a>
                        <a class="dropdown-item" id="menu-port-bonus-list">Port bonuses</a>
                        <a class="dropdown-item" id="menu-ingredient-list">Recipe ingredients</a>
                        <a class="dropdown-item" id="menu-ship-list">Ships</a>
                        <a class="dropdown-item" id="menu-ship-blueprint-list">Ship blueprints</a>
                        <a class="dropdown-item" id="menu-wood-list">Woods</a>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Show</h6>
                        <a class="dropdown-item" id="menu-show-port-net-income">Port net income</a>
                        <a class="dropdown-item" id="menu-ownership-overview">Port ownership overview</a>
                        <a class="dropdown-item" id="menu-ownership-map">Port ownership map</a>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Download</h6>
                        <!--suppress HtmlUnknownTarget -->
                        <a class="dropdown-item" id="menu-download-pb-calc" href="data/port-battle.xlsx"
                           download="port-battle-calculator.xlsx">Port battle calculator</a>
                    </div>
                </li>

                <li class="nav-item dropdown pe-2">
                    <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" title="Settings"
                       aria-label="Settings">
                        <i class="icon icon-options icon-navbar" aria-hidden="true"></i><span
                                class="visually-hidden">Settings</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end extra-large-width" id="settingsMenu"
                         aria-labelledby="settingsDropdown">

                        <% let dataRadio = {
                            title: "Game server",
                            name: "server-name",
                            radios: []
                        }%>
                        <% for (const server of htmlWebpackPlugin.options.servers) {
                            dataRadio.radios.push({ id: server.id, title: `${server.name} (${server.type})` })
                        } %>
                        <% makeRadioGroup(dataRadio) %>

                        <div class="dropdown-divider"></div>
                        <% dataRadio = {
                            title: "Show per port",
                            name: "show-radius",
                            radios: [
                                {id: "attack", title: "Attack"},
                                {id: "county", title: "County"},
                                {id: "position", title: "Position"},
                                {id: "points", title: "Points"},
                                {id: "tax", title: "Tax income"},
                                {id: "net", title: "Net income"},
                                {id: "off", title: "Off"}
                            ]
                        }%>
                        <% makeRadioGroup(dataRadio) %>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Zones</h6>
                        <div class="ms-3" id="show-zones">
                        </div>

                        <div class="dropdown-divider"></div>
                        <% dataRadio = {
                            title: "Show Trades",
                            name: "show-trades",
                            radios: [
                                {id: "on", title: "On"},
                                {id: "off", title: "Off"}
                            ]
                        }%>
                        <% makeRadioGroup(dataRadio) %>

                        <div class="dropdown-divider"></div>
                        <% dataRadio = {
                            title: "Show grid",
                            name: "show-grid",
                            radios: [
                                {id: "on", title: "On"},
                                {id: "off", title: "Off"}
                            ]
                        }%>
                        <% makeRadioGroup(dataRadio) %>

                        <div class="dropdown-divider"></div>
                        <% dataRadio = {
                            title: "Double click to",
                            name: "double-click-action",
                            radios: [
                                {id: "compass", title: "Plot a course"},
                                {id: "f11", title: "Show F11 coordinates"}
                            ]
                        }%>
                        <% makeRadioGroup(dataRadio) %>
                    </div>
                </li>
            </ul>

            <div class="btn-group" role="group">
                <button type="button" id="reset" class="btn px-2" title="Clear" aria-label="Clear">
                    <i class="icon icon-clear icon-navbar" aria-hidden="true"></i><span
                            class="visually-hidden">Clear</span>
                </button>
                <a role="button" class="btn px-2" target="_blank" rel=”noopener” title="Donate" aria-label="Donate"
                   href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MHRQ7ZGR88XSG&source=url">
                    <i class="icon icon-gift icon-navbar" aria-hidden="true"></i><span
                            class="visually-hidden">Donate</span>
                </a>
                <button type="button" id="about" class="btn px-2" title="About" aria-label="About">
                    <i class="icon icon-info icon-navbar" aria-hidden="true"></i><span
                            class="visually-hidden">About</span>
                </button>
            </div>
        </div>
    </div>
</nav>

<main role="main" class="container-fluid">
    <div id="na-map" class="central"></div>
    <div class="overlay overlay-no-grid">
        <div id="wind" class="wind-predict-column">
            <svg class="svg-background-light svg-text-center d-none"></svg>
        </div>
        <div id="toast-column" aria-live="polite" aria-atomic="true" class="toast-column align-items-start"></div>
        <div id="summary-column" class="summary-column"></div>
    </div>
    <div id="modal-section"></div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
</body>
</html>
