<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.brand %>">

    <link rel="icon" type="image/png" href="images/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/icons/android-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-180x180.png" sizes="180x180">
    <meta name="msapplication-config" content="images/icons/browserconfig.xml">

    <script async src="<%= htmlWebpackPlugin.options.gtag %>"></script>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="images/icons/favicon-32x32.png" width="32" height="32" alt="Brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle" href="#" id="predictDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Wind prediction
                </a>
                <div class="dropdown-menu" id="predictMenu" aria-labelledby="predictDropdown">
                    <form id="windPrediction" class="p-2">
                        <div class="form-group">
                            <label for="direction">1. Set current in-game wind</label>
                            <div id="direction" class="rslider"></div>
                        </div>
                        <div class="form-group">
                            <label for="wind-time">2. Set predict time (server time)</label>
                            <div class="input-group">
                                <div class="input-group date" id="wind-time" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                           data-target="#wind-time" aria-label="wind-time"
                                           id="wind-time-input" required/>
                                    <div class="input-group-append" data-target="#wind-time"
                                         data-toggle="datetimepicker">
                                        <span class="input-group-text"><i class="far fa-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="float-right btn btn-outline-secondary">Predict</button>
                    </form>
                </div>
            </li>

            <li class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle" href="#" id="moveToDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Move to F11
                </a>
                <div class="dropdown-menu large-width p-2" id="moveToMenu" aria-labelledby="moveToDropdown">
                    <form id="f11">
                        <div class="input-group">
                            <input class="form-control" id="x-coord" type="number" required placeholder="X" max="830"
                                   min="-816" step="1">
                            <div class="input-group-append">
                                <span class="input-group-text">k</span>
                            </div>
                        </div>
                        <div class="input-group">
                            <input class="form-control" id="z-coord" type="number" required placeholder="Z" max="830"
                                   min="-430" step="1">
                            <div class="input-group-append">
                                <span class="input-group-text">k</span>
                            </div>
                        </div>
                        <small class="form-text text-muted">Coordinates in k units.
                        </small>
                        <small class="form-text text-muted">Example: enter <em>43</em> for in-game value
                            of <em>43,162.5</em>.
                        </small>
                        <div class="float-right btn-group" role="group">
                            <button class="btn btn-outline-secondary" id="copy-coord" title="Copy to clipboard"
                                    type="button"><i class="far fa-copy"></i>
                            </button>
                            <button class="btn btn-outline-secondary" type="submit">Move to</button>
                        </div>
                    </form>
                </div>
            </li>


            <li class="nav-item pr-2">
                <label for="port-names"></label><select name="port-names" id="port-names">
                </select>
            </li>

            <li class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle" href="#" id="propertyDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Select ports on
                </a>
                <div class="dropdown-menu" id="propertyMenu" aria-labelledby="propertyDropdown">
                    <h6 class="dropdown-header">Property</h6>
                    <div class="dropdown-item dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Select</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="menu-prop-deep" href="#">Deep water</a>
                            <a class="dropdown-item" id="menu-prop-shallow" href="#">Shallow water</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="menu-prop-all" href="#">Available to all</a>
                            <a class="dropdown-item" id="menu-prop-green" href="#">Green zone</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="menu-prop-large" href="#">1st rate AI</a>
                            <a class="dropdown-item" id="menu-prop-medium" href="#">4th rate AI</a>
                            <a class="dropdown-item" id="menu-prop-small" href="#">6th rate AI</a>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Conquest mark</h6>
                    <a class="dropdown-item" id="menu-prop-cm" href="#">
                        <label for="prop-cm"></label><select class="select" name="prop-cm"
                                                             id="prop-cm"></select>
                    </a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Port owner</h6>
                    <a class="dropdown-item" id="menu-prop-nation" href="#">
                        <label for="prop-nation"></label><select class="select" name="prop-nation"
                                                                 id="prop-nation"></select>
                    </a>
                    <a class="dropdown-item" id="menu-prop-clan" href="#">
                        <label for="prop-clan"></label><select class="select" name="prop-clan" id="prop-clan"></select>
                    </a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Port battle</h6>

                    <div class="dropdown-item dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Time range set by port
                            owner</a>
                        <div class="dropdown-menu col-sm-10">
                            <div class="dropdown-item" id="menu-prop-pb-range">
                                <form id="prop-pb-range">
                                    <div class="form-group row">
                                        <label for="prop-pb-from-input" class="col-sm-4 col-form-label">From</label>
                                        <div class="col-sm-8 input-group date" id="prop-pb-from"
                                             data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-pb-from" aria-label="prop-pb-from"
                                                   id="prop-pb-from-input" required/>
                                            <div class="input-group-append" data-target="#prop-pb-from"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prop-pb-to-input" class="col-sm-4 col-form-label">To</label>
                                        <div class="col-sm-8 input-group date" id="prop-pb-to"
                                             data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-pb-to" aria-label="prop-pb-to"
                                                   id="prop-pb-to-input" required/>
                                            <div class="input-group-append" data-target="#prop-pb-to"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="float-right btn btn-outline-secondary">Go
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Port capture</h6>


                    <div class="dropdown-item dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Fixed date range</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="menu-prop-today" href="#">Today</a>
                            <a class="dropdown-item" id="menu-prop-yesterday" href="#">Yesterday</a>
                            <a class="dropdown-item" id="menu-prop-this-week" href="#">This week</a>
                            <a class="dropdown-item" id="menu-prop-last-week" href="#">Last week</a>
                        </div>
                    </div>

                    <div class="dropdown-item dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Free date range</a>
                        <div class="dropdown-menu col-sm-10">
                            <div class="dropdown-item" id="menu-prop-range">
                                <form id="prop-range">
                                    <div class="form-group row">
                                        <label for="prop-from-input" class="col-sm-3 col-form-label">From</label>
                                        <div class="col-sm-9 input-group date" id="prop-from"
                                             data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-from" aria-label="prop-from"
                                                   id="prop-from-input" required/>
                                            <div class="input-group-append" data-target="#prop-from"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="far fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">

                                        <label for="prop-to-input" class="col-sm-3 col-form-label">To</label>
                                        <div class="col-sm-9 input-group date" id="prop-to" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-to"
                                                   aria-label="prop-to"
                                                   id="prop-to-input" required/>
                                            <div class="input-group-append" data-target="#prop-to"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="far fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary">Go</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item pr-2">
                <label for="buy-goods"></label><select name="buy-goods" id="buy-goods">
                </select>
            </li>

            <li class="nav-item">
                <label for="sell-goods"></label><select name="sell-goods" id="sell-goods">
                </select>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle" href="#" id="extraDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="extraMenu"
                     aria-labelledby="extraDropdown">

                    <h6 class="dropdown-header">Compare</h6>
                    <a class="dropdown-item" id="button-ship-compare">Ships</a>
                    <a class="dropdown-item" id="button-wood-compare">Woods</a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">List</h6>
                    <a class="dropdown-item" id="button-module-list">Modules</a>
                    <a class="dropdown-item" id="button-recipe-list">Recipes</a>
                    <a class="dropdown-item" id="button-building-list">Buildings</a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Download</h6>
                    <a class="dropdown-item" id="button-download-pb-calc" href="port-battle.xlsx" download="port-battle-calculator.xlsx">Port battle calculator</a>
                </div>
            </li>

            <li class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu dropdown-menu-right extralarge-width" id="settingsMenu"
                     aria-labelledby="settingsDropdown">

                    <h6 class="dropdown-header">Game server</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="server-name">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="serverName" id="server-name-eu1" value="eu1">
                            <label class="custom-control-label" for="server-name-eu1">Caribbean</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="serverName" id="server-name-eu2" value="eu2">
                            <label class="custom-control-label" for="server-name-eu2">PvE only</label>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Show per port</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="show-radius">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showRadius" id="show-radius-attack" value="attack">
                            <label class="custom-control-label" for="show-radius-attack">Attack</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showRadius" id="show-radius-tax" value="tax">
                            <label class="custom-control-label" for="show-radius-tax">Tax income</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showRadius" id="show-radius-net" value="net">
                            <label class="custom-control-label" for="show-radius-net">Net income</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showRadius" id="show-radius-green" value="green">
                            <label class="custom-control-label" for="show-radius-green">Reinforcement zones</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showRadius" id="show-radius-off" value="off">
                            <label class="custom-control-label" for="show-radius-off">Off</label>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Port battle zones</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="show-pb">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showPB" id="show-pb-all" value="all" checked>
                            <label class="custom-control-label" for="show-pb-all">All ports</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showPB" id="show-pb-single" value="single">
                            <label class="custom-control-label" for="show-pb-single">Single port</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showPB" id="show-pb-off" value="off">
                            <label class="custom-control-label" for="show-pb-off">Off</label>
                        </div>

                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Show layer</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="show-layer">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showLayer" id="show-layer-grid" value="grid">
                            <label class="custom-control-label" for="show-layer-grid">Grid</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showLayer" id="show-layer-teleport" value="teleport">
                            <label class="custom-control-label" for="show-layer-teleport">Teleport areas</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showLayer" id="show-layer-off" value="off">
                            <label class="custom-control-label" for="show-layer-off">Off</label>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Double click to</h6>
                    <div class="col-auto align-self-center radio-group m-1" id="doubleClick-action">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="doubleClickAction"
                                   id="doubleClick-action-compass" value="compass">
                            <label class="custom-control-label" for="doubleClick-action-compass">Plot a course</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="doubleClickAction"
                                   id="doubleClick-action-f11" value="f11">
                            <label class="custom-control-label" for="doubleClick-action-f11">Show F11
                                coordinates</label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <button id="reset" type="button" class="btn btn-outline-secondary">Clear</button>
        <button id="about" type="button" class="btn btn-outline-secondary">About</button>
    </div>
</nav>

<div id="na" class="na">
</div>

<section id="modal-about" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <h3><%= htmlWebpackPlugin.options.title %>&nbsp;<span
                            class="text-primary small">v<%= htmlWebpackPlugin.options.version %></span></h3>
            </header>
            <div class="modal-body">
                <p>Yet another map which uses the in-game map and live data (daily updated soonish after maintenance).
                    Please check the <a
                            href="https://forum.game-labs.net/topic/23980-yet-another-map-naval-action-map/">
                        Game-Labs forum post</a> for further details. Feedback is very welcome.</p>
                <p>Designed by iB aka Felix Victor, clan <a href="https://bccnavalaction.freeforums.net/">British
                        Captains’ Club (BCC)</a>.</p>
            </div>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </footer>
        </div>
    </div>
</section>

<section id="modal-ships" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <h3>Compare ships</h3>
            </header>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 ml-auto pt-2 columnA">
                            <label for="ship-Base-select"></label><select name="ship-Base-select" id="ship-Base-select">
                            </select>
                            <div id="ship-Base"></div>
                        </div>
                        <div class="col-md-4 ml-auto pt-2 columnC">
                            <label for="ship-C1-select"></label><select name="ship-C1-select" id="ship-C1-select">
                            </select>
                            <div id="ship-C1"></div>
                        </div>
                        <div class="col-md-4 ml-auto pt-2 columnC">
                            <label for="ship-C2-select"></label><select name="ship-C2-select" id="ship-C2-select">
                            </select>
                            <div id="ship-C2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </footer>
        </div>
    </div>
</section>

<section id="modal-woods" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <h3>Compare woods</h3>
            </header>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row wood">
                        <div class="col-md-3 ml-auto pt-2 columnA">
                            <label for="wood-frame-Base-select"></label><select name="wood-frame-Base-select"
                                                                                id="wood-frame-Base-select">
                            </select>
                            <label for="wood-trim-Base-select"></label><select name="wood-trim-Base-select"
                                                                               id="wood-trim-Base-select">
                            </select>
                            <div id="wood-Base"></div>
                        </div>
                        <div class="col-md-3 ml-auto pt-2 columnC">
                            <label for="wood-frame-C1-select"></label><select name="wood-frame-C1-select"
                                                                              id="wood-frame-C1-select">
                            </select>
                            <label for="wood-trim-C1-select"></label><select name="wood-trim-C1-select"
                                                                             id="wood-trim-C1-select">
                            </select>
                            <div id="wood-C1"></div>
                        </div>
                        <div class="col-md-3 ml-auto pt-2 columnC">
                            <label for="wood-frame-C2-select"></label><select name="wood-frame-C2-select"
                                                                              id="wood-frame-C2-select">
                            </select>
                            <label for="wood-trim-C2-select"></label><select name="wood-trim-C2-select"
                                                                             id="wood-trim-C2-select">
                            </select>
                            <div id="wood-C2"></div>
                        </div>
                        <div class="col-md-3 ml-auto pt-2 columnC">
                            <label for="wood-frame-C3-select"></label><select name="wood-frame-C3-select"
                                                                              id="wood-frame-C3-select">
                            </select>
                            <label for="wood-trim-C3-select"></label><select name="wood-trim-C3-select"
                                                                             id="wood-trim-C3-select">
                            </select>
                            <div id="wood-C3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </footer>
        </div>
    </div>
</section>

<section id="modal-modules" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <h3>Modules</h3>
            </header>
            <div class="modal-body">
                <label for="modules-select"></label><select name="modules-select" id="modules-select"></select>
                <div id="modules-list" class="container-fluid"></div>
            </div>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </footer>
        </div>
    </div>
</section>

<section id="modal-buildings" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <h3>Buildings</h3>
            </header>
            <div class="modal-body">
                <label for="buildings-select"></label><select name="buildings-select" id="buildings-select"></select>
                <div id="buildings-list" class="container-fluid"></div>
            </div>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </footer>
        </div>
    </div>
</section>

<section id="modal-recipes" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <h3>Recipes</h3>
            </header>
            <div class="modal-body">
                <label for="recipes-select"></label><select name="recipes-select" id="recipes-select"></select>
                <div id="recipes-list" class="container-fluid"></div>
            </div>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </footer>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"></script>
<script src="https://unpkg.com/d3@5.4.0/dist/d3.min.js" crossorigin="anonymous"
        integrity="sha384-Ha//YQhNUuPzmPKgC8aYpurZcTiV3JhEvEhH5uGW0IRjBfEgDQxvo0aF1Gef+blI"></script>
</body>
</html>