<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title><%= htmlWebpackPlugin.options.title %></title>
 <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <script async src="<%= htmlWebpackPlugin.options.gtag %>"></script>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="#"><img src="images/na-map-brand.jpg" width="30" height="30" alt=""></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">

   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="moveToDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
     Move to
    </a>
    <div class="dropdown-menu extralarge-width" id="moveToMenu" aria-labelledby="moveToDropdown">
     <form id="f11">
      <div class="input-group">
       <div class="input-group-prepend">
        <span class="input-group-text">F11 coordinates</span>
       </div>
       <input id="x-coord" type="number" required placeholder="X" max="830000"
              min="-816000" step="0.1">
       <input id="z-coord" type="number" required placeholder="Z" max="830000"
              min="-430000" step="0.1">
       <div class="input-group-append">
        <button class="btn btn-outline-primary" id="copy-coord" title="Copy to clipboard"
                type="button"><i class="far fa-copy"></i>
        </button>
        <button class="btn btn-primary" type="submit">Move to</button>
       </div>
      </div>
     </form>
    </div>
   </li>

   <li class="nav-item dropdown pl-1">
    <a class="nav-link dropdown-toggle" href="#" id="predictDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
     Wind prediction
    </a>
    <div class="dropdown-menu extralarge-width" id="predictMenu" aria-labelledby="predictDropdown">
     <form id="windPrediction" class="p-2">
      <div class="alert alert-primary" role="alert">Select a port first.</div>
      <div class="form-group row">
       <label class="align-top col-sm-5 col-form-label" for="direction">Wind currently blowing
        from</label>
       <div class="col-sm-7">
        <input type="text" value="0" class="dial" id="direction" aria-label="direction"
               required>
       </div>
      </div>
      <div class="form-group row">
       <label class="col-sm-5 col-form-label" for="time">Predict wind for</label>
       <div class="col-sm-7">
        <input type="text" maxlength="5" pattern="(?:[0-1]?\d|2[0-3])(?:[.:\s][0-5]\d)?"
               class="form-control" placeholder="hh.mm" id="time" aria-label="time"
               required>
        <small class="form-text text-muted">Server time (wind is reset after maintenance)
        </small>
       </div>
      </div>
      <button type="submit" class="btn btn-outline-primary">Predict</button>
     </form>
    </div>
   </li>

   <li class="nav-item dropdown pl-1">
    <a class="nav-link dropdown-toggle" href="#" id="propertyDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
     Select ports on
    </a>
    <div class="dropdown-menu large-width" id="propertyMenu" aria-labelledby="propertyDropdown">
     <h6 class="dropdown-header">Ownership</h6>
     <a class="dropdown-item" id="menu-prop-nation" href="#">
      <select class="select" name="prop-nation" id="prop-nation" title="Select a nation"></select>
     </a>
     <a class="dropdown-item" id="menu-prop-clan" href="#">
      <select class="custom-select" name="prop-clan" id="prop-clan" title="Select a clan"></select>
     </a>
     <a class="dropdown-item pt-1" id="menu-prop-all" href="#">Available to all</a>
     <div class="dropdown-divider"></div>
     <h6 class="dropdown-header">Capture time</h6>
     <a class="dropdown-item" id="menu-prop-yesterday" href="#">Yesterday</a>
     <a class="dropdown-item" id="menu-prop-this-week" href="#">This week</a>
     <a class="dropdown-item" id="menu-prop-last-week" href="#">Last week</a>
     <div class="dropdown-divider"></div>
     <h6 class="dropdown-header">Conquest mark</h6>
     <a class="dropdown-item" id="menu-prop-cm" href="#">
      <select class="custom-select" name="prop-cm" id="prop-cm" title="Select amount"></select>
     </a>
    </div>
   </li>

   <li class="nav-item pl-2">
    <select class="custom-select" name="port-names" id="port-names" title="Go to a port">
    </select>
   </li>

   <li class="nav-item pl-2">
    <select class="custom-select" name="good-names" id="good-names" title="Select a good">
    </select>
   </li>
  </ul>

  <ul class="navbar-nav ml-auto">
   <li class="nav-item dropdown pr-2">
    <a class="nav-link dropdown-toggle" href="#" id="doubleclickDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Double click to
    </a>
    <div class="dropdown-menu dropdown-menu-right large-width" id="doubleclickMenu"
         aria-labelledby="doubleclickDropdown">
     <div class="radio-group ml-1 py-1">
      <div class="col-auto align-self-center">
       <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" name="mouseFunction" id="compass"
               value="compass" checked>
        <label class="custom-control-label" for="compass">plot a course</label>
       </div>
       <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" name="mouseFunction" id="F11"
               value="F11">
        <label class="custom-control-label" for="F11">show F11 coordinates</label>
       </div>
      </div>
     </div>
    </div>
   </li>
  </ul>
  <button id="reset" type="reset" class="btn btn-outline-secondary">Clear</button>
 </div>
</nav>

<div id="na" class="na">
</div>

<section id="modal" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <header class="modal-header">
    <h3><%= htmlWebpackPlugin.options.title %>&nbsp;<span
             class="text-primary small">v<%= htmlWebpackPlugin.options.version %></span></h3>
   </header>

   <div class="modal-body">
    <p>Yet another map which uses the in-game map and live data (daily updated soonish after maintenance).
     Please check the <a href="http://forum.game-labs.net/topic/23980-yet-another-map-naval-action-map/">
      Game-Labs forum post</a> for further details. Feedback is very welcome.</p>
    <p>Designed by iB aka Felix Victor.</p>
   </div>
   <footer class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-server="eu1">Caribbean
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-server="eu2">PvE only</button>
   </footer>
  </div>
 </div>
</section>

<script src="https://d3js.org/d3.v4.min.js"></script>
</body>
</html>