<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>" itemscope itemtype="http://schema.org/Map">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <% if(htmlWebpackPlugin.options.canonicalUrl){ %>
        <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonicalUrl %>">
    <% } else{ %>
        <meta name="robots" content="noindex">
    <% } %>
    <meta itemprop="name" property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta itemprop="description" property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta itemprop="image" property="og:image" content="<%= htmlWebpackPlugin.options.iconLarge %>">
    <meta itemprop="url" property="og:url" content="<%= htmlWebpackPlugin.options.canonicalUrl %>">

    <meta property="og:locale" content="<%= htmlWebpackPlugin.options.lang.toLowerCase().replace("-", "_") %>">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">

    <script async src="https://www.google-analytics.com/analytics.js"></script>
</head>

<body>

<% /*     %>
<div class="row">
    <div class="col-sm-3 colour-palette">
        <div class="colour-slab colour-slab-base primary-500">500 primary</div>
        <div class="colour-slab primary-050">50</div>
        <div class="colour-slab primary-100">100</div>
        <div class="colour-slab primary-200">200</div>
        <div class="colour-slab primary-300">300</div>
        <div class="colour-slab primary-400">400</div>
        <div class="colour-slab primary-500">500</div>
        <div class="colour-slab primary-600">600</div>
        <div class="colour-slab primary-700">700</div>
        <div class="colour-slab primary-800">800</div>
        <div class="colour-slab primary-900">900</div>
    </div>

    <div class="col-sm-3 colour-palette">
        <div class="colour-slab colour-slab-base secondary-500">500 secondary</div>
        <div class="colour-slab secondary-050">50</div>
        <div class="colour-slab secondary-100">100</div>
        <div class="colour-slab secondary-200">200</div>
        <div class="colour-slab secondary-300">300</div>
        <div class="colour-slab secondary-400">400</div>
        <div class="colour-slab secondary-500">500</div>
        <div class="colour-slab secondary-600">600</div>
        <div class="colour-slab secondary-700">700</div>
        <div class="colour-slab secondary-800">800</div>
        <div class="colour-slab secondary-900">900</div>
    </div>

    <div class="col-sm-3 colour-palette">
        <div class="colour-slab colour-slab-base gray-500">500 gray</div>
        <div class="colour-slab gray-100">100</div>
        <div class="colour-slab gray-200">200</div>
        <div class="colour-slab gray-300">300</div>
        <div class="colour-slab gray-400">400</div>
        <div class="colour-slab gray-500">500</div>
        <div class="colour-slab gray-600">600</div>
        <div class="colour-slab gray-700">700</div>
        <div class="colour-slab gray-800">800</div>
        <div class="colour-slab gray-900">900</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base success">success</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base info">info</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base warning">warning</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base danger">danger</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base white">white</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base light">light</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base gray">gray</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base dark">dark</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base gray-dark">gray-dark</div>
    </div>
    <div class="col-sm-2 colour-palette">
        <div class="colour-slab colour-slab-base black">black</div>
    </div>
</div>
<%     */ %>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
        <img src="<%= htmlWebpackPlugin.options.iconSmall %>" width="32" height="32" alt="Brand">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li id="selectPortNavbar" class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle" href="#" id="propertyDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Select ports on
                </a>
                <div class="dropdown-menu" id="propertyMenu" aria-labelledby="propertyDropdown">
                    <h6 class="dropdown-header">Property</h6>
                    <div class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" id="dropdown-select" data-toggle="dropdown"
                           role="button" href="#">Select</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-select">
                            <a class="dropdown-item" id="menu-prop-deep" href="#">Deep water</a>
                            <a class="dropdown-item" id="menu-prop-shallow" href="#">Shallow water</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="menu-prop-all" href="#">Available to all</a>
                            <a class="dropdown-item" id="menu-prop-non-capturable" href="#">Non-capturable</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="menu-prop-large" href="#">1st rate AI</a>
                            <a class="dropdown-item" id="menu-prop-medium" href="#">4th rate AI</a>
                            <a class="dropdown-item" id="menu-prop-small" href="#">6th rate AI</a>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>

                    <h6 class="dropdown-header">Front lines</h6>
                    <div class="dropdown-item">
                        <label>
                            <select title="Select nation attacking" name="frontlines-attacking-nation-select"
                                    id="frontlines-attacking-nation-select"></select>
                        </label>
                    </div>
                    <div class="dropdown-item">
                        <label>
                            <select title="Select nation defending" name="frontlines-defending-nation-select"
                                    id="frontlines-defending-nation-select"></select>
                        </label>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Conquest mark</h6>
                    <div class="dropdown-item">
                        <label>
                            <select title="Select" name="prop-cm-select" id="prop-cm-select"></select>
                        </label>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Port owner</h6>
                    <div class="dropdown-item">
                        <label>
                            <select title="Select nation" name="prop-nation-select" id="prop-nation-select"></select>
                        </label>
                    </div>
                    <div class="dropdown-item">
                        <label>
                            <select title="Select clan" name="prop-clan-select" id="prop-clan-select"></select>
                        </label>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Port battle</h6>

                    <div class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Time range set by port
                            owner</a>
                        <div class="dropdown-menu col-sm-10">
                            <div class="dropdown-item" id="menu-prop-pb-range">
                                <form id="prop-pb-range">
                                    <div class="form-group row">
                                        <label for="prop-pb-from-input" class="col-sm-4 col-form-label">From</label>
                                        <div class="col-sm-8 input-group date" id="prop-pb-from"
                                             data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-pb-from" aria-label="prop-pb-from"
                                                   id="prop-pb-from-input" required/>
                                            <div class="input-group-append" data-target="#prop-pb-from"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="icon icon-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prop-pb-to-input" class="col-sm-4 col-form-label">To</label>
                                        <div class="col-sm-8 input-group date" id="prop-pb-to"
                                             data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-pb-to" aria-label="prop-pb-to"
                                                   id="prop-pb-to-input" required/>
                                            <div class="input-group-append" data-target="#prop-pb-to"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="icon icon-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="float-right btn btn-outline-secondary">Go
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Port capture</h6>


                    <div class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Fixed date range</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="menu-prop-today" href="#">Today</a>
                            <a class="dropdown-item" id="menu-prop-yesterday" href="#">Yesterday</a>
                            <a class="dropdown-item" id="menu-prop-this-week" href="#">This week</a>
                            <a class="dropdown-item" id="menu-prop-last-week" href="#">Last week</a>
                        </div>
                    </div>

                    <div class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Free date range</a>
                        <div class="dropdown-menu col-sm-10">
                            <div class="dropdown-item" id="menu-prop-range">
                                <form id="prop-range">
                                    <div class="form-group row">
                                        <label for="prop-from-input" class="col-sm-3 col-form-label">From</label>
                                        <div class="col-sm-9 input-group date" id="prop-from"
                                             data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-from" aria-label="prop-from"
                                                   id="prop-from-input" required/>
                                            <div class="input-group-append" data-target="#prop-from"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="icon icon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">

                                        <label for="prop-to-input" class="col-sm-3 col-form-label">To</label>
                                        <div class="col-sm-9 input-group date" id="prop-to" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-to" aria-label="prop-to" id="prop-to-input"
                                                   required/>
                                            <div class="input-group-append" data-target="#prop-to"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="icon icon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary">Go</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item pr-2">
                <label><select name="port-names-select" id="port-names-select"></select></label>
            </li>

            <li class="nav-item pr-2">
                <label><select name="buy-goods-select" id="buy-goods-select"></select></label>
            </li>

            <li class="nav-item pr-2">
                <label><select name="inventory-select" id="inventory-select" class="d-none"></select></label>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle" href="#" id="map-tools-dropdown"
                   role="button" title="Map tools" aria-label="Map tools"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon icon-map icon-navbar" aria-hidden="true"></i><span
                            class="sr-only">Map tools</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="map-tools-menu"
                     aria-labelledby="map-tools-dropdown">

                    <a class="dropdown-item" id="button-predict-wind" href="#">Predict wind</a>
                    <a class="dropdown-item" id="button-ingame-wind" href="#">In-game wind</a>
                    <a class="dropdown-item" id="button-go-to-f11" href="#">Go to <span class="caps">F11</span> <span
                                class="small text-right badge badge-pill badge-primary">shift+<span
                                    class="caps">F11</span></span></a>
                    <a class="dropdown-item" id="button-get-position" href="#">Get position</a>
                    <a class="dropdown-item" id="button-make-journey" href="#"> Make journey</a>
                </div>
            </li>

            <li class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle" href="#" id="game-tools-dropdown"
                   role="button" title="Game tools" aria-label="Game tools"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon icon-bar-chart icon-navbar" aria-hidden="true"></i><span
                            class="sr-only">Game tools</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="game-tools-menu"
                     aria-labelledby="game-tools-dropdown">

                    <h6 class="dropdown-header">Compare</h6>
                    <a class="dropdown-item" id="button-ship-compare">Ships</a>
                    <a class="dropdown-item" id="button-wood-compare">Woods</a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">List</h6>
                    <a class="dropdown-item" id="button-recipe-list">Admiralty items and recipes</a>
                    <a class="dropdown-item" id="button-building-list">Buildings</a>
                    <a class="dropdown-item" id="button-cannon-list">Cannons</a>
                    <a class="dropdown-item" id="button-loot-list">Loot and chests</a>
                    <a class="dropdown-item" id="button-module-list">Modules</a>
                    <a class="dropdown-item" id="button-ownership-list">Port ownership</a>
                    <a class="dropdown-item" id="button-ingredient-list">Recipe ingredients</a>
                    <a class="dropdown-item" id="button-ship-list">Ships</a>
                    <a class="dropdown-item" id="button-ship-blueprint-list">Ship blueprints</a>
                    <a class="dropdown-item" id="button-wood-list">Woods</a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Download</h6>
                    <a class="dropdown-item" id="button-download-pb-calc" href="data/port-battle.xlsx"
                       download="port-battle-calculator.xlsx">Port battle calculator</a>
                </div>
            </li>

            <li class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Settings"
                   aria-label="Settings">
                    <i class="icon icon-options icon-navbar" aria-hidden="true"></i><span
                            class="sr-only">Settings</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right extralarge-width" id="settingsMenu"
                     aria-labelledby="settingsDropdown">

                    <h6 class="dropdown-header">Game server</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="server-name">
                        <% htmlWebpackPlugin.options.servers %>
                        <% htmlWebpackPlugin.options.servers.length %>
                        <% for(var i = 0; i < htmlWebpackPlugin.options.servers.length; i++) { %>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input"
                                       name="server-name"
                                       id="server-name-<%= htmlWebpackPlugin.options.servers[i].id %>"
                                       value="<%= htmlWebpackPlugin.options.servers[i].id %>">
                                <label class="custom-control-label"
                                       for="server-name-<%= htmlWebpackPlugin.options.servers[i].id %>">
                                    <%= htmlWebpackPlugin.options.servers[i].name %>
                                    <span class="caps">(<%= htmlWebpackPlugin.options.servers[i].type %>)</span>
                                </label>
                            </div>
                        <% } %>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Show per port</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="show-radius">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-radius" id="show-radius-attack" value="attack">
                            <label class="custom-control-label" for="show-radius-attack">Attack</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-radius" id="show-radius-county" value="county">
                            <label class="custom-control-label" for="show-radius-county">County</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-radius" id="show-radius-position" value="position">
                            <label class="custom-control-label" for="show-radius-position">Position</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-radius" id="show-radius-points" value="points">
                            <label class="custom-control-label" for="show-radius-points">Points</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-radius" id="show-radius-tax" value="tax">
                            <label class="custom-control-label" for="show-radius-tax">Tax income</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-radius" id="show-radius-net" value="net">
                            <label class="custom-control-label" for="show-radius-net">Net income</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-radius" id="show-radius-off" value="off">
                            <label class="custom-control-label" for="show-radius-off">Off</label>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Zones</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="show-zones">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-zones" id="show-zones-pb-all" value="pb-all">
                            <label class="custom-control-label" for="show-zones-pb-all">All port battle</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-zones" id="show-zones-pb-single" value="pb-single">
                            <label class="custom-control-label" for="show-zones-pb-single">Single port battle</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-zones" id="show-zones-raid-all" value="raid-all">
                            <label class="custom-control-label" for="show-zones-raid-all">All raid</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-zones" id="show-zones-raid-single" value="raid-single">
                            <label class="custom-control-label" for="show-zones-raid-single">Single raid</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-zones" id="show-zones-off" value="off">
                            <label class="custom-control-label" for="show-zones-off">Off</label>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Show trades</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="show-trades-show">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-trades-show" id="show-trades-show-on" value="on">
                            <label class="custom-control-label" for="show-trades-show-on">On</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-trades-show" id="show-trades-show-off" value="off">
                            <label class="custom-control-label" for="show-trades-show-off">Off</label>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Show grid</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="show-grid">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-grid" id="show-grid-on" value="on">
                            <label class="custom-control-label" for="show-grid-on">On</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="show-grid" id="show-grid-off" value="off">
                            <label class="custom-control-label" for="show-grid-off">Off</label>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Double click to</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="double-click-action">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="double-click-action"
                                   id="double-click-action-compass" value="compass">
                            <label class="custom-control-label" for="double-click-action-compass">Plot a course</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="double-click-action"
                                   id="double-click-action-f11" value="f11">
                            <label class="custom-control-label" for="double-click-action-f11">Show <span
                                        class="caps">F11</span>
                                coordinates</label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="btn-group" role="group">
            <button type="button" id="reset" class="btn px-2" title="Clear" aria-label="Clear">
                <i class="icon icon-clear icon-navbar" aria-hidden="true"></i><span class="sr-only">Clear</span>
            </button>
            <a role="button" class="btn px-2" target="_blank" rel=”noopener” title="Donate" aria-label="Donate"
               href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MHRQ7ZGR88XSG&source=url">
                <i class="icon icon-gift icon-navbar" aria-hidden="true"></i><span class="sr-only">Donate</span>
            </a>
            <button type="button" id="about" class="btn px-2" title="About" aria-label="About">
                <i class="icon icon-info icon-navbar" aria-hidden="true"></i><span class="sr-only">About</span>
            </button>
        </div>
    </div>
</nav>

<main role="main" class="container-fluid">
    <div id="na-map" class="central"></div>
    <div class="overlay overlay-no-grid">
        <div id="wind" class="wind-predict-column">
            <svg class="wind-predict d-none"></svg>
        </div>
        <div id="toast-column" aria-live="polite" aria-atomic="true" class="toast-column align-items-start"></div>
        <div id="summary-column" class="summary-column"></div>
    </div>
    <div id="modal-section"></div>

</main>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
</body>
</html>
