<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>" itemscope itemtype="http://schema.org/Map">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <% if(htmlWebpackPlugin.options.canonicalUrl){ %>
        <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonicalUrl %>">
    <% } else{ %>
        <meta name="robots" content="noindex">
    <% } %>
    <meta itemprop="name" property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta itemprop="description" property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta itemprop="image" property="og:image" content="<%= htmlWebpackPlugin.options.iconLarge %>">
    <meta itemprop="url" property="og:url" content="<%= htmlWebpackPlugin.options.canonicalUrl %>">

    <meta property="og:locale" content="<%= htmlWebpackPlugin.options.lang.toLowerCase().replace("-", "_") %>">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">

    <script async src="<%= htmlWebpackPlugin.options.gtag %>"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="<%= htmlWebpackPlugin.options.iconSmall %>" width="32" height="32" alt="Brand">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item pr-2">
                <label><select title="Select single port" name="port-names-select"
                               id="port-names-select"></select></label>
            </li>

            <li id="selectPortNavbar" class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle" href="#" id="propertyDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Select ports on
                </a>
                <div class="dropdown-menu" id="propertyMenu" aria-labelledby="propertyDropdown">
                    <h6 class="dropdown-header">Property</h6>
                    <div class="dropdown-item dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Select</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="menu-prop-deep" href="#">Deep water</a>
                            <a class="dropdown-item" id="menu-prop-shallow" href="#">Shallow water</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="menu-prop-all" href="#">Available to all</a>
                            <a class="dropdown-item" id="menu-prop-green" href="#">Green zone</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="menu-prop-large" href="#">1st rate AI</a>
                            <a class="dropdown-item" id="menu-prop-medium" href="#">4th rate AI</a>
                            <a class="dropdown-item" id="menu-prop-small" href="#">6th rate AI</a>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Conquest mark</h6>
                    <div class="dropdown-item">
                        <label><select title="Select" name="prop-cm-select" data-live-search="false"
                                       id="prop-cm-select"></select></label>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Port owner</h6>
                    <div class="dropdown-item">
                        <label><select title="Select nation" name="prop-nation-select" data-live-search="false"
                                       id="prop-nation-select"></select></label>
                    </div>
                    <div class="dropdown-item">
                        <label><select title="Select clan" name="prop-clan-select" data-live-search="false"
                                       id="prop-clan-select"></select></label>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Port battle</h6>

                    <div class="dropdown-item dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Time range set by port
                            owner</a>
                        <div class="dropdown-menu col-sm-10">
                            <div class="dropdown-item" id="menu-prop-pb-range">
                                <form id="prop-pb-range">
                                    <div class="form-group row">
                                        <label for="prop-pb-from-input" class="col-sm-4 col-form-label">From</label>
                                        <div class="col-sm-8 input-group date" id="prop-pb-from"
                                             data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-pb-from" aria-label="prop-pb-from"
                                                   id="prop-pb-from-input" required/>
                                            <div class="input-group-append" data-target="#prop-pb-from"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prop-pb-to-input" class="col-sm-4 col-form-label">To</label>
                                        <div class="col-sm-8 input-group date" id="prop-pb-to"
                                             data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-pb-to" aria-label="prop-pb-to"
                                                   id="prop-pb-to-input" required/>
                                            <div class="input-group-append" data-target="#prop-pb-to"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="float-right btn btn-outline-secondary">Go
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Port capture</h6>


                    <div class="dropdown-item dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Fixed date range</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="menu-prop-today" href="#">Today</a>
                            <a class="dropdown-item" id="menu-prop-yesterday" href="#">Yesterday</a>
                            <a class="dropdown-item" id="menu-prop-this-week" href="#">This week</a>
                            <a class="dropdown-item" id="menu-prop-last-week" href="#">Last week</a>
                        </div>
                    </div>

                    <div class="dropdown-item dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Free date range</a>
                        <div class="dropdown-menu col-sm-10">
                            <div class="dropdown-item" id="menu-prop-range">
                                <form id="prop-range">
                                    <div class="form-group row">
                                        <label for="prop-from-input" class="col-sm-3 col-form-label">From</label>
                                        <div class="col-sm-9 input-group date" id="prop-from"
                                             data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-from" aria-label="prop-from"
                                                   id="prop-from-input" required/>
                                            <div class="input-group-append" data-target="#prop-from"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="far fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">

                                        <label for="prop-to-input" class="col-sm-3 col-form-label">To</label>
                                        <div class="col-sm-9 input-group date" id="prop-to" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#prop-to" aria-label="prop-to" id="prop-to-input"
                                                   required/>
                                            <div class="input-group-append" data-target="#prop-to"
                                                 data-toggle="datetimepicker">
                                                <span class="input-group-text"><i class="far fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary">Go</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item pr-2">
                <label><select title="Select good" name="buy-goods-select"
                               id="buy-goods-select"></select></label>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="map-tools-dropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Map tools
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="map-tools-menu"
                     aria-labelledby="map-tools-dropdown">

                    <a class="dropdown-item" id="button-predict-wind" href="#">Predict wind</a>
                    <a class="dropdown-item" id="button-wind-rose" href="#">Wind rose</a>
                    <a class="dropdown-item" id="button-go-to-f11" href="#">Go to <span class="caps">F11</span> <span
                                class="small text-right badge badge-pill badge-primary">shift+<span class="caps">F11</span></span></a>
                    <a class="dropdown-item" id="button-get-position" href="#">Get position</a>
                    <a class="dropdown-item" id="button-make-journey" href="#"> Make journey</a>
                </div>
            </li>

            <li class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="game-tools-dropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Game tools
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="game-tools-menu"
                     aria-labelledby="game-tools-dropdown">

                    <h6 class="dropdown-header">Compare</h6>
                    <a class="dropdown-item" id="button-ship-compare">Ships</a>
                    <a class="dropdown-item" id="button-wood-compare">Woods</a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">List</h6>
                    <a class="dropdown-item" id="button-building-list">Buildings</a>
                    <a class="dropdown-item" id="button-cannon-list">Cannons</a>
                    <a class="dropdown-item" id="button-module-list">Modules</a>
                    <a class="dropdown-item" id="button-ownership-list">Port ownership</a>
                    <a class="dropdown-item" id="button-recipe-list">Recipes</a>
                    <a class="dropdown-item" id="button-ingredient-list">Recipe ingredients</a>
                    <a class="dropdown-item" id="button-wood-list">Woods</a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Download</h6>
                    <a class="dropdown-item" id="button-download-pb-calc" href="port-battle.xlsx"
                       download="port-battle-calculator.xlsx">Port battle calculator</a>
                </div>
            </li>

            <li class="nav-item dropdown pr-2">
                <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu dropdown-menu-right extralarge-width" id="settingsMenu"
                     aria-labelledby="settingsDropdown">

                    <h6 class="dropdown-header">Game server</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="server-name">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="serverName" id="server-name-eu1" value="eu1">
                            <label class="custom-control-label" for="server-name-eu1">War (Caribbean)</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="serverName" id="server-name-eu2" value="eu2">
                            <label class="custom-control-label" for="server-name-eu2">Peace (PvE)</label>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Show per port</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="show-radius">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showRadius" id="show-radius-attack" value="attack">
                            <label class="custom-control-label" for="show-radius-attack">Attack</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showRadius" id="show-radius-position" value="position">
                            <label class="custom-control-label" for="show-radius-position">Position</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showRadius" id="show-radius-tax" value="tax">
                            <label class="custom-control-label" for="show-radius-tax">Tax income</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showRadius" id="show-radius-net" value="net">
                            <label class="custom-control-label" for="show-radius-net">Net income</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showRadius" id="show-radius-green" value="green">
                            <label class="custom-control-label" for="show-radius-green">Reinforcement zones</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showRadius" id="show-radius-off" value="off">
                            <label class="custom-control-label" for="show-radius-off">Off</label>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Port battle zones</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="show-pb">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showPB" id="show-pb-all" value="all" checked>
                            <label class="custom-control-label" for="show-pb-all">All ports</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showPB" id="show-pb-single" value="single">
                            <label class="custom-control-label" for="show-pb-single">Single port</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showPB" id="show-pb-off" value="off">
                            <label class="custom-control-label" for="show-pb-off">Off</label>
                        </div>

                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Show layer</h6>
                    <div class="col-auto align-self-center radio-group ml-1" id="show-layer">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showLayer" id="show-layer-grid" value="grid">
                            <label class="custom-control-label" for="show-layer-grid">Grid</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   name="showLayer" id="show-layer-off" value="off">
                            <label class="custom-control-label" for="show-layer-off">Off</label>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Double click to</h6>
                    <div class="col-auto align-self-center radio-group m-1" id="doubleClick-action">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="doubleClickAction"
                                   id="doubleClick-action-compass" value="compass">
                            <label class="custom-control-label" for="doubleClick-action-compass">Plot a course</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="doubleClickAction"
                                   id="doubleClick-action-f11" value="f11">
                            <label class="custom-control-label" for="doubleClick-action-f11">Show <span class="caps">F11</span>
                                coordinates</label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="btn-group-vertical btn-group-sm" role="group">
            <button type="button" id="reset" class="btn btn-outline-primary">Clear</button>
            <button type="button" id="about" class="btn btn-outline-primary">About</button>
        </div>
    </div>
</nav>

<main role="main" class="container-fluid">
    <div id="na-map" class="central"></div>

    <div id="modal-section"></div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
</body>
</html>