<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="<%= htmlWebpackPlugin.options.gtag %>"></script>
</head>
<body>

<section id="modal" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <h3><%= htmlWebpackPlugin.options.title %>&nbsp;<span
                            class="text-primary small">v<%= htmlWebpackPlugin.options.version %></span></h3>
            </header>

            <div class="modal-body">
                <p>Yet another map which uses the in-game map and live data (daily updated soonish after maintenance).
                    Please check the <a href="http://forum.game-labs.net/topic/23980-yet-another-map-naval-action-map/">
                        Game-Labs forum post</a> for further details. Feedback is very welcome.</p>
                <p>Designed by iB aka Felix Victor.</p>
            </div>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-server="eu1">Caribbean
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-server="eu2">PvE only</button>
            </footer>
        </div>
    </div>
</section>

<div id="na" class="na">
</div>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Naval Action map</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="moveTo" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Move to
                </a>
                <div class="dropdown-menu" id="moveToMenu" aria-labelledby="moveTo">
                    <div class="box pb-2">
                    <h6 class="dropdown-header">F11 coordinates</h6>
                    <form class="">
                        <fieldset>
                            <div class="form-row">
                                <div class="col-4 left-margin">
                                    <input type="number" step="0.1" min="-816000" max="830000" class="form-control"
                                           id="x-coord" placeholder="X" required>
                                </div>
                                <div class="col-4">
                                    <input type="number" step="0.1" min="-430000" max="830000" class="form-control"
                                           id="z-coord" placeholder="Z" required>
                                </div>
                                <div class="col-3">
                                    <button type="submit" class="btn btn-outline-primary">Move to</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                    <div class="dropdown-divider"></div>
                    <div class="box pb-2">
                    <h6 class="dropdown-header">Port</h6>
                    <div class="col-12">
                        <select class="custom-select" name="port-names" id="port-names">
                        </select>
                    </div>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="showGoods" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Show goods
                </a>
                <div class="dropdown-menu" id="showGoodsMenu" aria-labelledby="showGoods">
                    <div class="col-12">
                        <select class="custom-select" name="good-names" id="good-names">
                        </select>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div class="radio-group box align-middle ml-1">
                    <div class="col-auto align-self-center">
                        <span class="radio-group-label pr-2">Double click to</span>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="mouseFunction" id="compass"
                                   value="compass" checked>
                            <label class="custom-control-label" for="compass">plot a course</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="mouseFunction" id="F11" value="F11">
                            <label class="custom-control-label" for="F11">show F11 coordinates</label>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
        <button id="reset" type="reset" class="btn btn-outline-secondary">Clear</button>
    </div>
</nav>

<script src="https://d3js.org/d3.v4.js"></script>
</body>
</html>